/.cproject
/.project
/.settings
/*.o
/*.so
/twsn_log_service
/log*
/*w.xml
/bingo/*.o
/bingo/*/*.o
/bingo/*/*/*.o
/bingo/*/*/*/*.o
/bingo/*/*/*/*/*.o
/bingo/*/*/*/*/*/*.o
/test/*.o
/test/*/*.o
/test/*/*/*.o
/test/*/*/*/*.o
/test/*/*/*/*/*.o
